[client]
default-character-set = utf8

[mysql]
default-character-set = utf8

[mysqld]
basedir = /usr
bind-address = 192.168.3.10
port = 3306
log_error = /var/log/kolla/mariadb/mariadb.log
log_bin = mysql-bin
binlog_format = ROW
expire_logs_days = 14
default-storage-engine = innodb
innodb_autoinc_lock_mode = 2
collation-server = utf8_general_ci
init-connect = SET NAMES utf8
character-set-server = utf8
datadir = /var/lib/mysql/
wsrep_cluster_address = gcomm://192.168.3.10:4567,192.168.3.11:4567,192.168.3.12:4567
wsrep_provider_options = gmcast.listen_addr=tcp://192.168.3.10:4567;ist.recv_addr=192.168.3.10:4568;
wsrep_node_address = 192.168.3.10:4567
wsrep_sst_receive_address = 192.168.3.10:4444
wsrep_provider = /usr/lib/galera/libgalera_smm.so
wsrep_cluster_name = openstack
wsrep_node_name = infra1
wsrep_sst_method = mariabackup
wsrep_sst_auth = root:i5pjY21eEk5EsmnQpGROSA55DGgjLejSp2hYeqck
wsrep_slave_threads = 4
wsrep_on = ON
max_connections = 10000
key_buffer_size = 64M
max_heap_table_size = 64M
tmp_table_size = 64M
innodb_buffer_pool_size = 8192M

[server]
pid-file = /var/lib/mysql/mariadb.pid

[sst]

