NOVA_API_DB=nova_api
NOVA_API_USER=nova_api
NOVA_API_PASS=Ok64PN6UhRFC7P9V2gRQmEBn7f6z4oTa0SHG95K7
NOVA_API_DB_HOST=192.168.3.14
PLACEMENT_DB=placement
PLACEMENT_USER=placement
PLACEMENT_PASS=vEfwro1azwOM48meVUBm6fW1RgnaUkKT3URLhMKI
PLACEMENT_DB_HOST=192.168.3.14
